@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrollContainer {
  position: relative;
  overflow: hidden;
}

.scrollContent {
  display: flex;
  gap: 1rem;
  animation: scroll 20s linear infinite;
}

.scrollContent:hover {
  animation-play-state: paused;
}

.partnerImage {
  flex-shrink: 0;
  width: 15rem;
  height: 10rem;
  position: relative;
}
